#formbody {
	padding-top: 150px;
	position: static;
	padding-bottom: 50px;
}

.control-label {
	text-align: left;
}

#FormButtons {
	top: 73%;
	left: 78.28%;
	position: fixed;

}

.moove {
	left:-8%;
}

.fb {
	font-size: 115%;
	min-width: 125px;
	min-height: 40px;
	margin-top: 10px;

}

#rec_cont {
	position: absolute;
	z-index: 1;
	left: 16.1%;
	top: 0%;
}

#recipient {
	width: 400px;
	top: 32%;
	left: 50%;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}